form#letter {
    display: block;
    width: 700px;
    padding: 30px;
    text-align: right;
}

#content > table > tbody > tr > td {
    padding: 30px;
}

.pdf {
    padding: 30px;
    border: 4px solid #ddd;
}

.editable {
    cursor: text;
    background: url('/custom/themes/comiteMD/images/comite_DoctorsNote.gif') right top no-repeat #ffc;
    margin-bottom: 1px;
	padding: 0 17px 0 0;

}

.editable form button {
    display: none;
}

.editable .placeholder {
    color: #999;
}
